$primary-color: #4285f4;

$bg-color: #f6f6f6;

$font-light-color: #262626;

$font-dark-color: #fff;

$font: "Amaranth", "Noto Sans TC", sans-serif;

$title-size: 72px;

$font-size: 24px;

$input-size: 32px;

$pic-size: 24px;

$space-size: 15px;

$border-color: #ececec;

$pic_unchecked: "../images/circle.png";

$pic_checked: "../images/correct.png";

$pic_delete: "../images/rubbish.png";
